easydict==1.13
typed-argument-parser==1.12.0
seaborn==0.13.2
kornia==0.8.2
gputil==1.4.0
colorama==0.4.6
omegaconf==2.3.0
pandas==3.0.1
timm==0.9.6
decord==0.6.0
transformers==4.57.6
torch==2.5.1
pytz==2026.1.post1
wandb==0.25.1
imageio==2.37.3
einops==0.8.2
openai==0.28.1
httpx==0.20.0
opencv-python==4.13.0.92
pytorch-lightning==2.4.0
setuptools==80.10.2